body{
  background-color:#f2f2f2;
}

header {
  background-color: #A8565E;
  padding: 10px 0px 10px 0px;
}

h1{
  font-family:'Komet';
  font-size: 50px;
  text-align: left;
  font-weight: 600;
  font-style: normal;
}

.flexgrow-container {
  display: flex;
}
.container-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 5px;
}


button {
border: 3px solid #F7F5C1;
border-radius: 5px;
font-family: 'komet';
font-size: medium;
padding: 10px;
margin: 2px;
transition-duration: 4s;
}
button:hover {
  background-color: #D0E9F5;
  color: white;
}

/*section 1 top*/

.section-one {
  background-color: #F5CBCF;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;    

  font-family: 'komet';
  font-size: 35px;
  text-align: center;
}


/* section 2 text */
.section-two {
  background-color: #F5CBCF;
  height: 150;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  font-family: 'Komet';
  font-size: 25px;
  text-align: center;
}
/*CARP */

.carp-section-two{
  background-color: #D0E9F5;
  height: 150;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  font-family: 'Komet';
  font-size: 35px;
  text-align: center;
}

.poster-img{

  width: 297px; 
  height: 420px;
  /* display: flex; */
  /* align-items: center; */

}

.PosterTitle {

  font-weight: bold;

}

.typ-img{
  width:450px;
  height:450px;
}

.section-four{
  background-color: #F5CBCF;
  height:500px;
  display: flex;
  justify-content: center;
  padding: 15px 25px 15px 15px; 

 font-family: 'komet';
}
.box1 {
  background-color: #F5CBCF;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  align-items: center;
  justify-content: center;  
  font-family: 'komet';
  font-size: 20px;
}


.box2 {
  background-color: #F5CBCF;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box3 {
  background-color: #F5CBCF;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 auto; */
  flex-direction: column;
  
  align-items: left;
  justify-content: center;  
  
  font-family: 'komet';
  font-size: 30px;
}

.box4{
  background-color: #F5CBCF;
  height: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  align-items: center;
  justify-content: top;  

}
.box5{
  background-color: #F5CBCF;
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  align-items: center;
  justify-content: top;  

}

.media-container .mediacontent {
  flex: 1;
  padding: 10px;
}
.mediacontent{
  font-family: 'komet';
  color: black;
  font-size: 30px;
  text-align: left;
}

footer {
  background-color: #A8565E;
  height: 60px;
  text-align: center;
  font-family: 'komet';
  font-size: small;
  color: white;
  padding: 10px 0px;
}

/*slider*/
* {
  box-sizing: border-box;
}

.slider {
  width: 500px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background:#A8565E;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  /* border: 3px solid #A8565E; */
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 500px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #F5CBCF;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

/* .slides>div:target{
  transform: scale(0.8);
} */

/*.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}*/

.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .column{
    width: 100%;
  }
}